{% for entry in site.data.diary reversed %}
<div class="col-lg-{% if include.width %}{{ include.width }}{% else %}6{% endif %}">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ entry.date }}</h6>
    </div>
    <div class="card-body">
      <!-- Start -->
      <h4 class="small font-weight-bold">Tập thể dục<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-info" role="progressbar" style="width: {{ entry.pe  }}%" aria-valuenow="{{ entry.pe  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
      <!-- Start "Date", "Tập thể dục", "", "", "", "", "", "", "Tâm hành", ""-->
      <h4 class="small font-weight-bold">Đánh răng<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ entry.tooth  }}%" aria-valuenow="{{ entry.tooth  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
       <!-- Start -->
      <h4 class="small font-weight-bold">Lên xuống cầu thang/thang máy<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ entry.walk  }}%" aria-valuenow="{{ entry.walk  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
      <!-- Start -->
      <h4 class="small font-weight-bold">Đi vệ sinh<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ entry.wc  }}%" aria-valuenow="{{ entry.wc  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
      <!-- Start -->
      <h4 class="small font-weight-bold">Ăn chánh niệm 10ph<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ entry.eat  }}%" aria-valuenow="{{ entry.eat  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
      <!-- Start -->
      <h4 class="small font-weight-bold">Hơi thở chánh niệm<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-m4" role="progressbar" style="width: {{ entry.breath  }}%" aria-valuenow="{{ entry.breath  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
      <!-- Start -->
      <h4 class="small font-weight-bold">Ái ngữ<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-m2" role="progressbar" style="width: {{ entry.speech  }}%" aria-valuenow="{{ entry.speech  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
      <!-- Start -->
      <h4 class="small font-weight-bold">Tâm hành<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-orange" role="progressbar" style="width: {{ entry.mind  }}%" aria-valuenow="{{ entry.mind  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
      <!-- Start -->
      <h4 class="small font-weight-bold">Tiếp xúc trời xanh cây cối sự sống hiện tại<span class="float-right"></span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-info" role="progressbar" style="width: {{ entry.now  }}%" aria-valuenow="{{ entry.now  }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>
{% endfor %}