{% for entry in site.data.diary reversed %}
 
{% assign c = forloop.index0 | modulo:30  %}

{% assign total_pe = total_pe | plus: entry.pe %}
{% assign total_tooth = total_tooth | plus: entry.tooth %}
{% assign total_walk = total_walk | plus: entry.walk %}
{% assign total_wc = total_wc | plus: entry.wc %}
{% assign total_eat = total_eat | plus: entry.eat %}
{% assign total_breath = total_breath | plus: entry.breath %}
{% assign total_speech = total_speech | plus: entry.speech %}
{% assign total_mind = total_mind | append: "| " | append: entry.mind %}
{% assign total_now = total_now | plus: entry.now %}



{% if  c == 0 %}

  {% assign total_pe = entry.pe %} 
  {% assign total_tooth = entry.tooth %} 
  {% assign total_walk = entry.walk %} 
  {% assign total_wc = entry.wc %} 
  {% assign total_eat = entry.eat %} 
  {% assign total_breath = entry.breath %} 
  {% assign total_speech = entry.speech %} 
  {% assign total_mind = entry.mind %} 
  {% assign total_now = entry.now %}

  {% assign enddate = entry.date %}
  
{% endif %}

{% if  c == 29 or forloop.last %}
  {% assign startdate = entry.date | append: " - "  | append: enddate %}

  {% assign total_pe = total_pe | divided_by: 30 %} 
  {% assign total_tooth = total_tooth | divided_by: 30 %} 
  {% assign total_walk = total_walk | divided_by: 30 %} 
  {% assign total_wc = total_wc | divided_by: 30 %}
  {% assign total_eat = total_eat | divided_by: 30 %}
  {% assign total_breath = total_breath | divided_by: 30 %}
  {% assign total_speech = total_speech | divided_by: 30 %}
  {% assign total_now = total_now | divided_by: 30 %}


  {% include cards/display_w.html date=startdate pe=total_pe tooth=total_tooth walk=total_walk wc=total_wc eat=total_eat breath=total_breath speech=total_speech mind=total_mind now=total_now width=12 %}

{% endif %}

{% endfor %}